<!DOCTYPE html>
<html>

	<head>
	  <title>Meetopia</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<h1>Welcome to the meeting rooms page</h1>

		<% test_str = "...some railsy stuff to go here..." %>

		<p>Here is the current state of play with the meeting rooms:</p>

		
			<%- @rooms.each do |room, free|  %>
        <p class='<%=call_square(free) %>'_square>
          <%= room.name.capitalize %>,
          <%= current_event(room)%>,
          <%= current_event_end_time(room) %>
        </p>
			<%- end %>
		


		<%= test_str =%>

	</body>

</html>
