<br>


<table>


  <tr>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :customer_experience_1} %>

    <%= render partial: 'rooms/partials/room_cell', locals: {name: :customer_experience_2} %>

    <td>
        <h3 align="center">Meetopia</h><br>
        The Meeting Room Tool.
        </td>
  </tr>


  <tr>
    <td class='tall', colspan=2></td>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :kingston} %>
  </tr>


  <tr>
    <td class='tall', colspan=2>
    Find me a room:<br>
    <%= form_tag(find_rooms_path, method: :post) do -%>
    <%= select_tag "date", options_for_select(find_room_dates_array(5)) %>
    <%= select_tag "duration", options_for_select(find_room_duration_array) %>
    <%= submit_tag 'find' %>
  <% end -%>

    </td>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :elbistan} %>
  </tr>

  <tr>
    <td class='tall', colspan=2>
    Rooms are layed out in the same way the look in the floorplan.
    </td>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :grimsby} %>
  </tr>


</table>

<!-- <table>
  <tr>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :test_room} %>
  </tr>
  <tr>
    <td>
      Meetopia<br>
      V 0.1
    </td>
  </tr>
</table>


<p>
  Find a room (up to 5 days in the future)
  <%= form_tag(find_rooms_path, method: :post) do -%>
    Select a day:  Duration:<br>
    <%= select_tag "date", options_for_select(find_room_dates_array(5)) %>
    <%= select_tag "duration", options_for_select(find_room_duration_array) %>
    <%= submit_tag 'find' %>
  <% end -%>
  </p> -->
