<table>
  <tr>
    <%= render partial: 'rooms/partials/room_cell', locals: {name: :customer_experience_1} %>

    <%= render partial: 'rooms/partials/room_cell', locals: {name: :customer_experience_2} %>

    <td>
      <h1 align="center">Meetopia</h1>
      <i>"The Meeting Room Tool"</i>
    </td>
  </tr>

  <tr>
    <%= render partial: 'rooms/partials/room_cell2', locals: {name: :kingston} %>
    <td class='tall', colspan=1>
    Find me a room:<br>
    <%= form_tag(find_rooms_path, method: :post) do -%>
    <%= select_tag "date", options_for_select(find_room_dates_array(5)) %>
    <%= select_tag "duration", options_for_select(find_room_duration_array) %>
    <%= label_tag do %>
      <%= check_box_tag :projector %>
      projector?
    <% end %>
    <%= submit_tag 'find' %>
  <% end -%>

    </td>

  </tr>


  <tr>
    <%= render partial: 'rooms/partials/room_cell2', locals: {name: :elbistan} %>
    <td class='tall', colspan=1></td>
  </tr>

  <tr>
    <%= render partial: 'rooms/partials/room_cell2', locals: {name: :grimsby} %>
    <td class='tall', colspan=1>
    Rooms are layed out in the same way they look in the floorplan.
    </td>
  </tr>
</table>
