- room, room_is_free = find_room(name)

%td{class: call_td(room_is_free)}
  %h3= room.name.to_s.humanize
  - unless room_is_free
    %p{style: 'font-size: 10px'}= current_event_summary(room)
    = "Busy until #{current_event_end_time(room)}"
  - else
    %p Free
    %p
      Book for the next:
      = link_to '30 mins', room_events_path(room.name, duration: 30.minutes, plan: 'adhoc'), :method=> :post
      |
      = link_to '1 hour', room_events_path(room.name, duration: 1.hour, plan: 'adhoc'), :method=> :post
